<%- include("partials/header.ejs") %>

<body>
  <div class="container">
    <form id="myForm" method="get">
      <label for="latitude">Latitude:</label>
      <input type="number" id="latitude" name="latitude" />

      <label for="longitude">Longitude:</label>
      <input type="number" id="longitude" name="longitude" />

      <input id="get" type="submit" value="Go" formaction="/local-weather" />
    </form>
  </div>

  <div class="container mt-5">
    <% if (locals.weather) { %> <%= weather %> <% } else { %>
    <p>No area currently entered</p>
    <% } %>
  </div>
</body>
