html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom, #f7fbfe, #8ac2fa);
  overflow: hidden;
}

.main-body {
  position: relative;
  padding-top: 73px;
}

.header {
  position: absolute;
  left: 5%;
  width: 90%;
  border-bottom: 1px solid lightgray;
}

.webpage-text {
  font-size: larger;
}

.or-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.input-container {
  justify-items: center;
  padding: 50px 0;
}

.bold {
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 90%;
  border-top: 1px solid lightgray;
}
